$blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan-alpha: hsla(178, 100%, 50%, 0.5);
$bg-main-blue: hsl(217, 54%, 11%);
$card-main-blue: hsl(216, 50%, 16%);
$line-main-blue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
