@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #090b1a;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 1rem;
  max-width: 1440px;
}

.img-container {
  position: relative;
  width: 45%;
}

.img-container .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aa5cdb;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.img-mobile,
.img-desktop {
  display: block;
  width: 100%;
}

.img-mobile {
  display: none;
}

.img-desktop {
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6%;
}

.main .block {
  width: auto;
}

.main .main-title {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 2.8rem;
  letter-spacing: 0.6px;
}

.main .main-title span {
  color: #aa5cdb;
}

.main .main-description {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.stats .stats-item h2 {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

.stats .stats-item span {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 1rem;
}

@media (max-width: 375px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 375px;
    margin: 10%;
  }
  .img-container {
    height: 100%;
    width: 100%;
  }
  .img-container .img-mobile {
    display: block;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  .img-container .img-desktop {
    display: none;
  }
  .img-container .img-overlay {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  .main {
    width: 100%;
    text-align: center;
  }
  .main .main-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .main .main-description {
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    opacity: 0.6;
  }
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }
  .stats .stats-item h2 {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }
  .stats .stats-item span {
    font-size: 0.6rem;
    letter-spacing: 0;
    margin-top: 1rem;
    font-weight: 400;
    opacity: 0.6;
  }
}

@media (max-width: 980px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 980px;
    margin: 10%;
  }
  .img-container {
    height: 100%;
    width: 100%;
  }
  .img-container .img-mobile {
    display: block;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  .img-container .img-desktop {
    display: none;
  }
  .img-container .img-overlay {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
  .main {
    width: 100%;
    text-align: left;
  }
  .main .main-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .main .main-description {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    opacity: 0.6;
  }
  .stats {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 4rem;
    gap: 2rem;
  }
  .stats .stats-item h2 {
    font-size: 2rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }
  .stats .stats-item span {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 1rem;
    font-weight: 400;
    opacity: 0.6;
  }
}
/*# sourceMappingURL=all.css.map */